name: Deploy to preview environment

on:
  workflow_call:
    inputs:
      install:
        type: string
        required: false
        default: npm ci
      build:
        type: string
        required: false
        default: npm run build:preview
      output_dir:
        type: string
        required: false
        default: public/
      node_version:
        type: number
        required: true
        default: 16
    outputs:
      deployment_url:
        description: "Preview deployment url"
        value: ${{ jobs.deploy.outputs.deployment_url }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout default branch
        uses: actions/checkout@v2
        with:
          version: ${{inputs.node_version}}

      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: "${{inputs.node_version}}"

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: ${{ inputs.install }}

      - name: Build
        run: ${{ inputs.build }}

      - name: Archive build output
        run: "tar --dereference --directory ${{ inputs.output_dir }} -cvf artifact.tar ."

      - name: Upload artifact
        uses: actions/upload-artifact@main
        with:
          name: github-pages
          path: artifact.tar

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    outputs:
      deployment_url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: paper-spa/deploy-pages@main
        with:
          preview: true
