name: Release

on:
  workflow_call:
    inputs:
      install:
        type: string
        required: false
        default: npm ci
      title:
        type: string
        required: false
        default: Release tracking
      node-version:
        type: number
        required: false
        default: 20
      app-id:
        required: true
        type: string
    secrets:
      app-private-key:
        required: true

jobs:
  release:
    name: Release

    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: ${{ inputs.install }}

      - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94
        id: app-token
        with:
          app-id: ${{ inputs.app-id }}
          private-key: ${{ secrets.app-private-key }}

      # `changesets/action` depends on @changesets/cli being installed
      # and we cannot add it as dependency because it conflicts with `primer-changesets-cli`
      - run: npm install @changesets/cli@2.26.1 --no-save

      - name: Create release pull request or publish to npm
        id: changesets
        # Uses SHA for security hardening
        # Please keep this up-to-date if you're changing the SHA below
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba
        with:
          title: ${{ inputs.title }}
          # This expects you to have a script called release which does a build for your packages and calls changeset publish
          publish: npm run release
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
