name: Release

on:
  workflow_call:
    inputs:
      install:
        type: string
        required: false
        default: npm ci
      tag:
        type: string
        required: false
        default: next
      node_version:
        type: number
        required: false
        default: 24
      app-id:
        required: true
        type: string
    secrets:
      app-private-key:
        required: true

jobs:
  release-candidate:
    name: Candidate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node_version }}

      - name: Install dependencies
        run: ${{ inputs.install }}

      - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94
        id: app-token
        with:
          app-id: ${{ inputs.app-id }}
          private-key: ${{ secrets.app-private-key }}

      - name: Build
        run: npm run build --if-present

      - name: Publish release candidate
        run: |
          version=$(jq -r .version package.json)
          echo "$( jq ".version = \"$(echo $version)-rc.$(git rev-parse --short HEAD)\"" package.json )" > package.json
          npx changeset publish --tag ${{ inputs.tag }}
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Output candidate version
        uses: actions/github-script@v8
        with:
          script: |
            const package = require(`${process.env.GITHUB_WORKSPACE}/package.json`)
            github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: context.sha,
              state: 'success',
              context: `Published ${package.name}`,
              description: package.version,
              target_url: `https://unpkg.com/${package.name}@${package.version}/`
            })
      - name: Upload Versions
        uses: primer/.github/.github/actions/upload-versions@main
